$col_fondo: rgb(250,250,250);
$col_primario:  rgb(253, 71, 39);
$col_transp: rgba(0, 0, 0, 0.5);    

$query_breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$controles_carousel: (
    "prev",
    "next"
)