/node_modules/
/package.json~
/assets/img/pizza-icon-next.png~
/assets/img/pizza-icon-prev.png~
/assets/img/Michelangelo_-_Creation_of_Adam_(cropped) (1).jpg~
/assets/img/Michelangelo_-_Creation_of_Adam_(cropped).jpg~
/assets/img/early-beginnings-of-pizza (1).jpg~
